.add_single{
    margin-top: 2rem;
    display: grid;
    grid-template-columns: auto 300px;
    grid-gap: 2rem;
}
.addInner,
.addArticle{
    width: 100%;
}
.addArticle-top{
    margin-bottom: 1rem;
    font-family: 'Oswald';
}
.divCat{
    transform: skew(-10deg);
    width: 100%;
    font-size: 14px;
    margin-bottom: 25px;
}
.aCat a{
    background-color: #d56340;
    color: #fff;
    padding: 7px 10px;
    text-decoration: none;
}
.addArticle-title{
    letter-spacing: 1px;
    font-size: 30px;
    line-height: 40px;
    color: #000;
}
.addArticle-meta{
    width: 100%;
    display: flex;
    align-items: center;
    margin: 10px 0;
    gap: 10px;
}
.addArticle_img-author{
    width: 40px;
    height: 40px;
    object-position: center;
    object-fit: cover;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.2);
}
.addArticle-meta-right{
    display: flex;
    flex-direction: column;
}
.author_name,
.tanggalPublish{
    color: #666;
    font-size: 14px;
    margin: 3px 0;
}
.author_name a{
    color: #d56340;
    text-decoration: none;
}
.addArticle-thumbnail{
    width: 100%;
    height: auto;
}
.addArticle-bot p,
.addArticle-bot ol,
.addArticle-bot ul{
    font-size: 18px;
    line-height: 2rem;
    color: #666;
    margin-bottom: 30px;
    word-wrap: break-word;
}
.addArticle-bot p a,
.addArticle-bot ol a,
.addArticle-bot ul a{
    color: #d56340;
    text-decoration: none;
}
.addArticle-bot ul{
    list-style: square;
    margin-left: 25px
}
.addArticle-bot ol{
    list-style: decimal;
    margin-left: 25px
}
.addArticle-bot h2,
.addArticle-bot h3,
.addArticle-bot h4,
.addArticle-bot h5,
.addArticle-bot h6 {
    font-family: 'Oswald';
    color: #444;
    letter-spacing: 1px;
    margin-bottom: 10px
}

.addArticle-bot h2 {
    font-size: 28px;
    line-height: 33px
}

.addArticle-bot h3 {
    font-size: 22px;
    line-height: 26px
}

.addArticle-bot h4 {
    font-size: 18px;
    line-height: 22px
}

.addArticle-bot h5 {
    font-size: 16px;
    line-height: 20px
}

.addArticle-bot h6 {
    font-size: 14px;
    line-height: 18px
}
.addArticle-bot p a img,
.addArticle-bot p img{
    width: 100%;
    height: auto;
    margin-bottom: -10px;
}
.addArticle-bot table{
    width: 100%;
    margin-bottom: 30px;
    border: none;
}
.addArticle-bot table thead{
    background-color: #d56340;
    color: #fff;
}
table thead tr th {
    padding: 5px 10px;
    text-align: left;
    font-size: 18px;
}
tbody tr td {
    padding: 5px 10px;
    border-bottom: 1px solid #d56340;
    font-size: 16px;
    line-height: 2rem;
    color: #666;
}

/* Tags */
.add_tags{
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    align-items: center;
    font-family: 'Oswald';
    margin-bottom: 1rem;
}
.add_tags-title{
    background-color: #000;
    color: #fff;
    padding: 5px 10px;
}
.add_tags a{
    padding: 5px 10px;
    color: #fff;
    background-color: #d56340;
    text-decoration: none;
}

/* post navigation */
.add_post-navigation{
    margin-top: 2rem;
    margin-bottom: 1rem;
}
.add_post-navigation .screen-reader-text{
    display: none;
}
.nav-links{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
    font-family: 'Oswald';
}
.nav-links a{
    color: #d56340;
    text-decoration: none;
    font-weight: bold;
    line-height: 1.7rem;
}
.nav-links .nav-previous{
    text-align: left;
}
.nav-links .nav-next{
    text-align: right;
}

/* Related post */
.addRelatedBox{
    display: block;
    margin-bottom: 2rem;
}
.addRelated-loop{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;
}
.addRelated-post{
    text-align: center;
}
.addRelated-a{
    text-decoration: none;
    font-family: 'Oswald';
    display: block;
}
.addRelated-thumb{
    width: 100%;
    height: 120px;
    object-position: center;
    object-fit: cover;
    margin-bottom: 1rem;
}
.addRelated-title{
    font-size: 16px;
    line-height: 20px;
    color: #000;
}

/* Komentar */
.add_comments{
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 3rem;
}
.comment-reply-title{
    font-family: 'Oswald';
    margin-bottom: 1rem;
}
.comment-notes,
.comment-form-cookies-consent,
.logged-in-as{
    font-size: 16px;
    color: #444;
    margin-bottom: 10px;
}
.logged-in-as a{
    color: #d56340;
    font-weight: bold;
    text-decoration: none;
}
.comment-form-comment label{
    display: none;
}
.comment-form-comment textarea{
    width: 100%;
    max-width: 600px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 10px 20px;
    margin-bottom: 1rem;
    outline: none;
}
.comment-form-author,
.comment-form-email,
.comment-form-url{
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 10px 20px;
    width: 100%;
    max-width: 350px;
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}
.comment-form-author input,
.comment-form-email input,
.comment-form-url input{
    border: none;
    outline: none;
}
.form-submit{
    margin-top: 2rem;
}
.form-submit .submit{
    border: none;
    font-family: 'Oswald';
    padding: 10px 20px;
    background-color: #d56340;
    cursor: pointer;
    color: #fff;
}

/* Sidebar */
.ssmargin{
    margin-top: 2rem;
}
.add_side-smartphone,
.add_side-art-data{
    display: block;
}
.add_side-art{
    margin-bottom: 1rem;
}
.add_side-art-link{
    display: grid;
    grid-template-columns: 100px auto;
    grid-gap: 1rem;
    text-decoration: none;
    color: #000;
}
.add_side-art-thumb{
    width: 100px;
    height: 100px;
    object-position: center;
    object-fit: cover;
}
.add_side-art-title{
    font-family: 'Oswald';
    font-size: 16px;
    margin-bottom: 10px;
}
.side_art-span{
    font-size: 14px;
    color: #d56340;
}
.span_add-idr{
    color: #444;
    font-weight: bold;
}

/* Media tablet */
@media( max-width: 780px ){
    .add_single{
        margin-top: 2rem;
        display: block;
    }

    /* Sidebar */
    .add_side-smartphone{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 1rem;
    }
    .add_side-art-link{
        display: block;
        text-align: center;
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: 5px;
        padding: 20px;
    }
    .add_side-art-thumb{
        width: 100%;
        height: auto;
        margin-bottom: 1rem;
    }
}


/* Media mobile */
@media( max-width: 560px ){
    .addArticle-title{
        font-size: 25px;
        line-height: 30px;
    }
    .addArticle_img-author{
        width: 35px;
        height: 35px;
    }
    .author_name,
    .tanggalPublish{
        font-size: 12px;
    }
    .addArticle-thumbnail{
        width: calc(100% + 40px);
        margin-left: -20px;
    }
    .addArticle-bot ol,
    .addArticle-bot p,
    .addArticle-bot ul {
        font-size: 16px;
    }

    .addArticle-bot p a img,
    .addArticle-bot p img{
        min-width: calc(100% + 40px);
        max-width: calc(100% + 40px);
        margin-left: -20px;
        margin-bottom: -20px
    }

    .addArticle-bot h2 {
        font-size: 26px;
        line-height: 31px
    }

    .addArticle-bot h3 {
        font-size: 20px;
        line-height: 24px
    }

    .addArticle-bot h4 {
        font-size: 17px;
        line-height: 20px
    }

    .addArticle-bot h5 {
        font-size: 16px;
        line-height: 18px
    }

    .addArticle-bot h6 {
        font-size: 14px;
        line-height: 18px
    }

    table thead tr th {
        padding: 5px 10px;
        text-align: left;
        font-size: 16px;
        font-weight: 400
    }

    /* Related */
    .addRelated-loop{
        display: block;
    }
    .ddRelated-post{
        margin-bottom: 1rem;
    }
    .addRelated-a{
        display: grid;
        grid-template-columns: 90px auto;
        grid-gap: 1rem;
        text-align: left;
    }
    .addRelated-thumb{
        height: 90px;
    }

    /* SIdebar */
    .add_side-smartphone{
        grid-template-columns: repeat(2, 1fr);
    }
}